<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GelezaApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="papers">
                <span class="bi bi-file-earmark-text-fill" aria-hidden="true"></span> Question Papers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="videos">
                <span class="bi bi-play-btn-fill" aria-hidden="true"></span> Educational Videos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="live">
                <span class="bi bi-broadcast" aria-hidden="true"></span> Go Live
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Educator Upload
            </NavLink>
        </div>
    </nav>
</div>

